[submodule "llm-onlybooks"]
	path = llm-onlybooks
	url = git@github.com:cafrii/llm-onlybooks.git
[submodule "neo-tensorflow2"]
	path = neo-tensorflow2
	url = git@github.com:cafrii/neowizard.git
[submodule "tf-guide"]
	path = tf-guide
	url = git@github.com:cafrii/tensorflow_guide.git
[submodule "fast.ai/course22"]
	path = fast.ai/course22
	url = git@github.com:cafrii/fastai-course22.git
[submodule "fast.ai/course22p2"]
	path = fast.ai/course22p2
	url = git@github.com:cafrii/fastai_course22p2.git
