[submodule "llm-onlybooks"]
	path = llm-onlybooks
	url = git@github.com:cafrii/llm-onlybooks.git
[submodule "neo-tensorflow2"]
	path = neo-tensorflow2
	url = git@github.com:cafrii/neowizard.git
[submodule "tf-guide"]
	path = tf-guide
	url = git@github.com:cafrii/tensorflow_guide.git
